body {text-align: center;
    font-family: 'Architects Daughter', cursive;;
    background-color: #9e5d83;
    background-image: url("../media/background.jpg");
    background-blend-mode: darken;
color: #f8d86e;
font-size: 18px;}

img {min-width: 120px;
    max-width: 120px;
max-height: 180px}

a, a:visited {color: #83e3f0;
text-decoration: none;}

a:hover {text-decoration: none;
cursor: default;
font-style: italic;}


.instructions h5 {color: #f4fad1;
font-size: 24px;}

.illustrated {color: #f4fad1;
    font-size: 20px;
    margin-bottom: 35px;
}
.tarotDescription
 {min-height: 60px;
text-align: left;
animation: appearDescription 5s forwards cubic-bezier(0.1, 0.68, 0.09, 0.93);
animation-play-state: paused;
color: #f4fad1;
font-size: 20px;}


.pastCardDescription, .presentCardDescription,
.futureCardDescription {max-width: 300px;
padding: 20px 0 0 30px;}

.header h3 {font-family: 'Merienda', cursive;
font-size: 55px;
margin-top: 25px;
text-shadow: 1px 1px #352b0b,
1px -1px #352b0b,
-1px 1px #352b0b,
-1px -1px #352b0b;}

.cardTitle {
    font-size: 20px;
    font-family: 'Merienda', cursive;
    animation: appear 5s forwards cubic-bezier(0.1, 0.68, 0.09, 0.93);
    animation-play-state: paused;
min-height: 24px;
padding-bottom: 2px;
margin-bottom: 0;
}

.presentCardName, .futureCardName, .pastCardName {font-size: 20px;
    font-family: 'Merienda', cursive;
    min-height: 24px;
    padding-bottom: 2px;
    margin-bottom: 0;}
.card, .card3 {
    min-width: 80px;
    max-width: 120px;
min-height: 178px;
z-index: 0;
background-color: blueviolet;
background-image:url('../media/jon-tyson-T8FhpQF_P38-unsplash.jpg');
border: 3px solid #ffffff;
background-size: cover;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 15px;}

.cardFace {min-width: 120px;
min-height: 170px;
max-height: 180px;
z-index: 4;
animation: slide 5s forwards cubic-bezier(0.29, 0.52, 0.56, 0.96);
animation-play-state: paused;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
border-radius: .25rem;
}

.cardFaceActive {min-width: 120px;
    min-height: 170px;
    max-height: 180px;
    margin-bottom: none;
    z-index: 4;
    border: 3px solid #ffffff;
    border-radius: .25rem;}

@keyframes appear {from {color: #795D83;} to {color: #f8d86e;}}
@keyframes appearDescription {from {color: #795D83;} to {color: #f4fad1;}}

    
@keyframes slide { from {margin-top: -40px;} to {margin-top: 50px;}}
